<html ng-app="myApp">
    <head>
        <title>TO-Do List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script type="text/javascript" src="../angJS.js"></script>
    </head>
    <body ng-controller="mainPage">
        <div ng-if="defaultV">
            <table class="table table-condensed">
                <thead>
                    <th>S No.</th>
                    <th>To-Do</th>
                    <th></th>
                    <th ng-if="isOwner"></th>
                </thead>
                <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{$index + 1}}</td>
                        <td>{{item.task}}</td>
                        <td><input type="checkbox" /></td>
                        <td ng-if="isOwner"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
                    </tr>
                </tbody>
            </table>
            <br><br>
            <button type="button" class="btn-default" ng-if="isOwner" ng-click="addItemView()">Add Item to List</button>
        </div>
        <div ng-if="addItemV">
            <h3>Add Item to your list</h3>
            <input class="form-control input-lg" ng-model="addItemTask">
            <button type="button" class="btn-success">Add Task</button>
        </div>
    </body>
</html>